CompileFlags:                     # Tweak the parse settings
  Add: [-xc++, -Wall, -std=c++17, -D C, -I /home/pelps/SystemC/include]
  Compiler: clang++               # Change argv[0] of compile flags to `clang++`
