scripts/*.dis
scripts/*.elf
scripts/*.bin
scripts/*.hex
scripts/*/*.dis
scripts/*/*.elf
scripts/*/*.bin
scripts/*/*.hex
*.rpt
*.bak
*.fst
rv32i_sim
rtl/obj_dir
test/sim
test/**/*.bin
test/**/*.elf
test/**/*.dis
test/**/*.hex
test/**/aes

profiling/output/